@model InvoiceAPI.Models.InvTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>InvTable</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.InvAccount.Guid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InvAccount.Guid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InitDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InitDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Letter)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Letter)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Num)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Num)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InvNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InvNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InvDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InvDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClientId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClientId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Client)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Client)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClientUniformNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClientUniformNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClientAdress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClientAdress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClientPhoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClientPhoneNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InvStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InvStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DropTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DropTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DropReason)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DropReason)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
