@model InvoiceAPI.Models.InvLetter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvLetter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvAccount.Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvAccount.Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Letter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Letter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvLetterStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvLetterStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
