@model IEnumerable<InvoiceAPI.Models.InvLetter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvAccount.Guid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Letter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvLetterStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvAccount.Guid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Letter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvLetterStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
